@*@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="popupModal">
    <div class="icone_type">
        <img src="~/images/icon-error.png" alt="Photo error">
    </div>
    <div class="pop_content">
        <h3>OUPS !</h3>
        <span class="ltl-consign"><i class="fa fa-info-circle"></i>Invalid login or password.<br> Please clic on the button bellow to go to the login page.</span>
        <ul class="bouttons_area">
            <li><button type="submit" value="Send" class="blue_hit" onclick="redirectLogin();">Ok</button></li>
        </ul>
    </div>
</div>
<script>
    function redirectLogin(parameters) {
        window.location.href = "/Login/Accueil";
    }
</script>*@
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Erreur";
}

<div class="flex-content flex-jcenter-acenter flex-col pop-up">
    <div class="popup-container with-shadow">
        <div class="head gradient-blue">
            <h1>OUPS !</h1>
        </div>
        <div class="content-section text-centered icon-bottom">
            <i class="pop-icon green-bg"></i>
            <p>Login ou mot de passe invalide. <br> Cliquez sur le bouton ci-dessous pour aller à la page de connexion.</p>
            <form action="" method="post">
                <input type="submit" value="Ok" class="btn btn-primary" onclick="redirectLogin();">
            </form>
        </div>
    </div>

</div>
<script>
    function redirectLogin(parameters) {
        window.location.href = "/Login/Accueil";
    }
</script>