@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Notification";
    ViewBag.id = Request.Params["hash"];
    ViewData["hash"] = Request.Params["hash"];
}

<div class="flex-content flex-jcenter-acenter flex-col pop-up">
    <div class="popup-container with-shadow">
        <div class="head gradient-blue">
            <h1>Terminé</h1>
        </div>
        <div class="content-section text-centered icon-bottom">
            <i class="pop-icon green-bg"></i>
            <p>Veuillez entrer votre nouveau mot de passe et cliquez sur le bouton "Réinitialiser le mot de passe" pour l'enregistrer.</p>
            

            @using (Html.BeginForm("ConfirmUpdatePassword", "Login", new { token = @ViewBag.userId }, FormMethod.Post, new { @class = "formfields" }))
            {
                

                    @Html.PasswordFor(x => x.userMotdepasse, new { @placeholder = "Nouveau mot de passe", @required = true })
                    @Html.PasswordFor(x => x.userMotdepasseConfirme, new { @placeholder = "Confirmer mot de passe", @required = true })

                <ul class="policies">
                    <li><strong>Password policies :</strong></li>
                    <li><span class="ltl-consign">- Must contain at least 8 characters</span></li>
                    <li><span class="ltl-consign">- Must contain at least 1 non-alphanumeric character</span></li>
                    <li><span class="ltl-consign">- Must contain at least 1 digit character</span></li>
                    <li><span class="ltl-consign">- Must contain at least 1 uppercase character</span></li>
                    <li><span class="ltl-consign">- Must contain at least 1 lowercase character</span></li>
                </ul>                    
                            <input type="submit" value="Reset" class="btn btn-primary">
                            @Html.ActionLink("Annuler", "Accueil", "Login", new { id = "" }, new { @class = "btn btn-warning" })
                                     
               }
        </div>
    </div>

</div>

