@{
    ViewBag.Title = " Supprimer Commande";
}




<div class="flex-content flex-jcenter-acenter flex-col pop-up">
    <div class="popup-container with-shadow">
        <div class="head gradient-blue">
            <h1>Confirmation</h1>
        </div>
        <div class="content-section text-centered icon-bottom">
            <i class="pop-icon green-bg"></i>
            <p>Voulez-vous vraiment supprimer la sélection ?</p>
           
            <ul class="bouttons_area">
                <li><button type="submit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("DeleteAllCommandeSelected", "Commandes") + "' ");">Supprimer</button></li>
                <li><button class="btn btn-primary" data-dismiss="modal" onclick="DecheckedClick()">Non</button></li>
            </ul>
        </div>
    </div>

</div>
