.change-avatar {
    text-transform: uppercase;
    margin-left: 30px;
}
.change-avatar .btn{
    margin-top: 10px;
    min-width: inherit;
    padding: 12px 15px;
    color: #979797;
}
.edit-avatar {
    padding: 0px 0 20px;
}

#user-profil-detail {
    font-size: 18px;
    line-height: normal;
    font-family: 'RR', Arial, Helvetica, sans-serif;
}

#user-profil-detail strong {
    font-weight: normal;
    margin: 0 20px 0;
}

#user-profil-detail span {
    font-family: 'RL', Arial, Helvetica, sans-serif;
}