
<i id="notification-bell"><span class="count-notif"></span></i>

<div class="notifs-content with-shadow">
    <ul id="notiContent">
        <li class="recent">
            Commande Lorem ipsum dolor sit amet, consectetur adipiscing elit
            <div class="time"><i></i>il y a 45 min</div>
        </li>
    </ul>
</div>